<body>
    <div class="division">

        <div class="menu">
            <h1> <button class="e">E</button> EduEra</h1>
            <ul>
                <li class="list active">
                    <a href="#"><span class="icono"> <i class="fas fa-th-large" style="color: orange;"></i> </span> <span class="opcion" style="color: orange;"> Home</span>  </a>
                </li>
                <li>
                    <a href="#"> <span class="icono"><i class="fas fa-chart-bar"></i></span> <span class="opcion"> Progress </span></a>
                </li>
                <li>
                    <a href="#"> <span class="icono"> <i class="far fa-comment"></i></span><span class="opcion"> Messages </span></a>
                </li>
                <li>
                    <a href="#"> <span class="icono"> <i class="fas fa-cog"></i></span> <span class="opcion"> Settings</span> </a>
                </li>
            </ul>
            <div class="carta-menu">
                <div class="carta-menu-content">
                    Support 24/7
                    <p class="muteado">Contact us anytime</p>
                    <button class="start">Start</button>
                </div>
            </div>
        </div>

        <div class="carta">

            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <div class="search">
                                <div class="box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input type="text" placeholder="Search...">
                                </div>
                            </div>

                            <div class="collapse navbar-collapse" id="navbarColor01">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="nav-link " href="#" style="color:black;"> <button class="user"><i class="far fa-user"></i></button>
                                            <span class="visually-hidden">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color:black;"><button class="bell"><i class="far fa-bell"></i></button> </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </nav>
                    <h4>Your unfinished courses <span style="float: right;">...</span></h4>
                    <div class="cartas">

                        <div class="carta1">
                            <div class="texto">
                                <div class="info">
                                    <div class="textInfo">
                                        Learning how to create simple Swift applications in 8 lessons
                                    </div>
                                </div>
                                <div class="foto">
                                    <img src="../assets/pexels-katie-e-3671083.jpg">
                                </div>
                                <div class="usuario">
                                    Dianne Edwards <br> @Dianneed
                                </div>
                                <div class="minutos">
                                    <button>82 min</button>
                                </div>

                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">

                        </div>

                        <div class="carta2">
                            <div class="texto">
                                <div class="info">
                                    <div class="textInfo">
                                        Best tips for drawing same good thematic illustration
                                    </div>
                                </div>
                                <div class="foto">
                                    <img src="../assets/pexels-katie-e-3671083.jpg">
                                </div>
                                <div class="usuario">
                                    Dianne Edwards <br> @Dianneed
                                </div>
                                <div class="minutos">
                                    <button>90 min</button>
                                </div>

                            </div>
                            <img src="../assets/Thater-Cactus-dest-350x300.jpg">

                        </div>
                    </div>
                    <h4>Live Sessions <span style="float: right;">...</span></h4>

                    <div class="cartitas">

                        <div class="cartita" style="margin-left: 20px;">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">

                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>

                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>

                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>


                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>


                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>


                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">
                        </div>


                        <div class="cartita">
                            <div class="fotoCartitas">
                                <img src="../assets/pexels-katie-e-3671083.jpg">
                            </div>
                            <img src="../assets/Afianza_tablet_y_celular_350x300_lila.original.jpg">

                        </div>


                        <div class="cartita ">
                            <div class="flecha">
                                <button>
                                <i class="fas fa-angle-right"></i>
                            </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>