USE [master]
GO
/****** Object:  Database [Prueba]    Script Date: 10/02/2023 09:57:06 a. m. ******/
CREATE DATABASE [Prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'E:\SQLServer2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\Prueba.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'E:\SQLServer2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\Prueba_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba]
GO
/****** Object:  Table [dbo].[Ajustes]    Script Date: 10/02/2023 09:57:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ajustes](
	[AjusteId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NULL,
	[MontoTotal] [money] NULL,
	[Adeudo] [money] NULL,
 CONSTRAINT [PK_Ajustes] PRIMARY KEY CLUSTERED 
(
	[AjusteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/02/2023 09:57:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Telefono] [ntext] NULL,
	[Correo] [varchar](50) NULL,
	[Edad] [int] NULL,
	[MontoSolicitud] [money] NULL,
	[Estatus] [text] NULL,
	[Aprobaciòn] [int] NULL,
	[FechaAlta] [date] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 10/02/2023 09:57:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NULL,
	[MontoPagado] [money] NULL,
	[Aplicado] [int] NULL,
	[FechaPago] [date] NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[PagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ajustes] ON 

INSERT [dbo].[Ajustes] ([AjusteId], [ClienteId], [MontoTotal], [Adeudo]) VALUES (1, 8, 912738.0000, -134174.0000)
INSERT [dbo].[Ajustes] ([AjusteId], [ClienteId], [MontoTotal], [Adeudo]) VALUES (2, 2, 0.0000, 0.0000)
INSERT [dbo].[Ajustes] ([AjusteId], [ClienteId], [MontoTotal], [Adeudo]) VALUES (3, 9, 0.0000, 0.0000)
SET IDENTITY_INSERT [dbo].[Ajustes] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Telefono], [Correo], [Edad], [MontoSolicitud], [Estatus], [Aprobaciòn], [FechaAlta]) VALUES (1, N'Alyssa   Macdonald  King', N'477-1943', N'magnis.dis@yahoo.couk', 24, 74300.0400, N'', 0, CAST(0x63420B00 AS Date))
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Telefono], [Correo], [Edad], [MontoSolicitud], [Estatus], [Aprobaciòn], [FechaAlta]) VALUES (3, N'Irene   Carey    Spears', N'1-153-173-1315', N'donec.feugiat@protonmail.com', 18, 1213748.2000, N'', 0, CAST(0x6D440B00 AS Date))
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Telefono], [Correo], [Edad], [MontoSolicitud], [Estatus], [Aprobaciòn], [FechaAlta]) VALUES (4, N'Hope          Best Charity', N'1-810-927-0758', N'sed.neque@yahoo.edu', 45, 378121.5800, N'', 0, CAST(0x02430B00 AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([PagoId], [ClienteId], [MontoPagado], [Aplicado], [FechaPago]) VALUES (1, 8, 898960.6100, 1, CAST(0x19430B00 AS Date))
INSERT [dbo].[Pagos] ([PagoId], [ClienteId], [MontoPagado], [Aplicado], [FechaPago]) VALUES (2, 10, 498882.8200, 1, CAST(0xDF420B00 AS Date))
INSERT [dbo].[Pagos] ([PagoId], [ClienteId], [MontoPagado], [Aplicado], [FechaPago]) VALUES (3, 2, 631239.4000, 1, CAST(0xD2440B00 AS Date))
SET IDENTITY_INSERT [dbo].[Pagos] OFF
USE [master]
GO
