@import "./config/reset";
@import "./config/colors";

.container {
  min-width: 1440px;
  height: 1024px;
  background: $background;
  position: relative;
  margin: 5%;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 176px;
  height: 56px;
  position: absolute;
  top: 80px;
  left: 80px;
  display: flex;
  align-items: center;

  .logo__img {
    width: 56px;
    height: 56px;
    background: $background;
    border-radius: 16px;
    margin-right: 20px;

    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      color: $white;
      padding: 7px 20px;
    }
  }

  .logo__text {
    width: 96px;
    height: 42px;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      color: $white;
    }
  }
}

.group {
  position: absolute;
  left: 62px;
  bottom: 88px;
}

.nav {
  width: 360px;
  height: 360px;
  margin-top: 250px;

  .nav-link {
    width: 322px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;

    .icon {
      position: absolute;
      align-items: center;
      top: 20px;
      left: 50px;
    }

    span {
      margin-left: -50px;
    }

    &:focus,
    &:hover {
      color: $orange;
    }

    &.active {
      color: $orange !important;
      background-color: $white !important;
      border-radius: 30px;

      .fas,
      .far {
        color: $orange !important;
      }
    }
  }

  .fas,
  .far {
    color: $icons;
  }
}

.tab-content {
  width: 1056px;
  height: 976px;
  margin: 24px 24px 24px -24px;
  background: $white;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.02);
  border-radius: 48px;
  position: relative;

  .search {
    width: 920px;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 68px;
    right: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 724px;
      height: 60px;
      background: $inputSearch;
      border-radius: 20px;
      border: none;
      outline: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &::placeholder {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .fa-user {
      font-size: 25px;
    }

    .image-vector {
      width: 60px;
      height: 60px;
      background: $orange;
      border-radius: 20px;
      text-align: center;
      padding: 15px;
    }
  }

  .information {
    width: 920px;
    height: 460px;
    position: absolute;
    top: 180px;
    left: 68px;
    right: 68px;

    .information__cards {
      height: 90%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 50px;

      .card_01,
      .card_02 {
        width: 440px;
        height: 390px;
        border-radius: 48px;
      }

      .info {
        width: 400px;
        margin: 35px;

        .info__photo {
          margin-top: 10px;
        }

        .info__name {
          display: inline;
          font-size: 18px;
          line-height: 27px;
          font-weight: 600;
          color: $white;
          margin-left: 15px;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 3px;
        }

        .info__twitter {
          margin-left: 65px;
          margin-top: -10px;
          color: $white;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100px;
          text-align: center;
        }

        .info__min {
          width: 68px;
          height: 36px;
          margin-left: 300px;
          margin-top: -60px;
          background: $orange;
          border-radius: 10px;
          text-align: center;
          padding: 8px;

          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: $white;
          }
        }
      }

      .card_01 {
        background-image: url(../img/card01.png);
        position: relative;

        .card_01-text {
          width: 368px;
          height: 88px;
          position: absolute;
          left: 36px;
          bottom: 36px;
          background: rgba(60, 17, 134, 0.3);
          backdrop-filter: blur(36px);
          /* Note: backdrop-filter has minimal browser support */
          border-radius: 24px;

          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: $white;
            padding: 20px 17px;
          }
        }
      }

      .card_02 {
        background-image: url(../img/card02.png);
        position: relative;

        .card_02-text {
          width: 368px;
          height: 88px;
          position: absolute;
          left: 36px;
          bottom: 36px;
          background: rgba(148, 37, 57, 0.3);
          backdrop-filter: blur(36px);
          /* Note: backdrop-filter has minimal browser support */
          border-radius: 24px;

          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: $white;
            padding: 20px 17px;
          }
        }
      }
    }
  }

  .live__lessons {
    width: 920px;
    height: 200px;
    position: absolute;
    top: 680px;
    left: 68px;

    .carousel-item {
      img {
        width: 350px;
        height: 250px;
        object-fit: contain;
      }
    }
  }
}
